---
import { getBlogs } from '../../lib/strapi.ts'
import Layout from '../../layouts/Layout.astro'
import Header from '../../components/Header.vue'
import SocialSidebar from '../../components/SocialSidebar.vue'
import EmailSidebar from '../../components/EmailSidebar.vue'
import LetsConnect from '../../components/LetsConnect.vue'
import ContentLayout from '../../components/ContentLayout.vue'

export async function getStaticPaths() {
  const blogs = await getBlogs()
  
  return blogs.map(blog => ({
    params: { slug: blog.slug },
    props: { content: blog }
  }))
}

const { content } = Astro.props
---

<Layout title={`${content.title} - Mayuresh Mule`}>
  <Header client:load />
  <SocialSidebar client:load />
  <EmailSidebar client:load />
  
  <main class="px-16 md:px-24 py-20 pt-32">
    <ContentLayout content={content} client:visible />

    <div class="max-w-7xl mx-auto">
      <LetsConnect client:visible />
    </div>
  </main>
</Layout>
