@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary-black: #1C1B1B;
        --primary-white: #FFFFFF;
    }
}

/* Custom Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 0.8s ease-out forwards;
}